igtranslator.json
[{"id":"e83c4966.f6859","type":"watson-language-translator-identify","z":"33474c22.890724","name":"detect","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":470,"y":124,"wires":[["53d246a9.f1c41"]]},{"id":"10a99e6e.a779ba","type":"change","z":"33474c22.890724","name":"format_mes","rules":[{"t":"change","p":"payload","pt":"msg","from":"\\s*\\@igibmswtest\\s*","fromt":"re","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"\\s*https?://[\\w/:%#\\$&\\?\\(\\)~\\.=\\+\\-]+\\s*","fromt":"re","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":301,"y":124,"wires":[["e83c4966.f6859"]]},{"id":"53d246a9.f1c41","type":"function","z":"33474c22.890724","name":"set_flg_and_mes","func":"var langname = {\n    'af':'アフリカーンス','ar':'アラビア','az':'アゼルバイジャン',\n    'ba':'バシキール','be':'ベラルーシ','bg':'ブルガリア',\n    'bn':'ベンガル','bs':'ボスニア',\n    'cs':'チェコ','cv':'チュヴァシ',\n    'da':'デンマーク','de':'ドイツ',\n    'el':'ギリシャ','en':'英','eo':'エスペラント',\n    'es':'スペイン','et':'エストニア','eu':'バスク',\n    'fa':'ペルシア','fi':'フィンランド','fr':'フランス',\n    'gu':'グジャラート',\n    'he':'ヘブライ','hi':'ヒンディ','ht':'ハイチ',\n    'hu':'ハンガリー','hy':'アルメニア',\n    'id':'インドネシア','is':'アイスランド','it':'イタリア',\n    'ja':'日本',\n    'ka':'グルジア','kk':'カザフ','km':'中央クメール',\n    'ko':'韓国・朝鮮','ku':'クルド','ky':'キルギス',\n    'lt':'リトアニア','lv':'ラトビア',\n    'ml':'マラヤーラム','mn':'モンゴル',\n    'nb':'(ブークモール)ノルウェー','nl':'オランダ','nn':'(ニーノシュク)ノルウェー',\n    'pa':'パンジャーブ','pl':'ポーランド','ps':'パシュトー',\n    'pt':'ポルトガル',\n    'ro':'ルーマニア・モルドバ','ru':'ロシア',\n    'sk':'スロバキア','so':'ソマリ','sq':'アルバニア',\n    'sv':'スウェーデン',\n    'ta':'タミール','te':'テルグ',\n    'tr':'トルコ','uk':'ウクライナ','ur':'ウルドゥー',\n    'vi':'ベトナム',\n    'zh':'中国','zh-TW':'(繁体字)中国'\n};\n\nvar msgtemp ,msgtemp2, swflag;\n\nif (msg.tweet.user.screen_name !== 'igibmswtest') {\n    msgtemp = '@' + msg.tweet.user.screen_name + ' こんにちは！';\n}\n    msg.params = {in_reply_to_status_id:msg.tweet.id_str};\n\n\nif (msg.lang.language in langname === false) {\n    msg.mydetect = msgtemp + \"ごめんなさい、どこの言葉かわかりませんでした。\";\n    msg.myflg = -1;\n    return msg;\n}\n\n/* var translatable_to_en = [\n'ar', 'de', 'es', 'fr', 'it', 'ja', 'ko',\n'nl', 'pt', 'pl', 'ru', 'tr', 'zh', 'zh-TW'\n]; */\nvar translatable_to_en = [\n    'ar', 'es', 'ja', 'pl', 'ru', 'tr',\n    'cs', 'hi'\n];\nvar translatable_to_ja = ['en'];\n\nif (msg.lang.confidence >= 0.9)  {\n    msgtemp += \"きっと\"; \n    msgtemp2 = \"語だよ！\"; \n} else if (msg.lang.confidence >= 0.6) {\n    msgtemp += \"たぶん\"; \n    msgtemp2 = \"語かなぁ。\"; \n} else if (msg.lang.confidence >= 0.3) {\n    msgtemp += \"もしかしたら\";\n    msgtemp2 = \"語かも。\"; \n} else {\n    msgtemp += \"ひょっとして\"\n    msgtemp2 = \"語かも？\";\n}\n\nmsgtemp += langname[msg.lang.language] + msgtemp2 ;\n\nif (msg.lang.confidence >= 0.3) {\n    if (translatable_to_ja.indexOf(msg.lang.language) >= 0) {\n        msgtemp += \"日本語へ翻訳してみた→\";\n        swflag = 1;\n    } else if (translatable_to_en.indexOf(msg.lang.language) >= 0) {\n        msgtemp += \"英語へ翻訳してみた→\";\n        swflag = 2;\n    } else {\n        msgtemp += \"残念ながら翻訳対象外でした。\";\n        swflag = -1;\n    }\n} else {\n    msgtemp += \"他にも試してみてね。\";\n    swflag = -1;\n}\n\nmsg.lang.mydetect = msgtemp;\nmsg.lang.myflg = swflag;\nreturn msg;","outputs":"1","noerr":0,"x":650,"y":124,"wires":[["19ea9499.5116ab","156700d7.812b57"]]},{"id":"19ea9499.5116ab","type":"switch","z":"33474c22.890724","name":"by_flg","property":"lang.myflg","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":119.16667175292969,"y":304.16664123535156,"wires":[["1c884e2e.154122"],["2f16b630.fe0f62"],["61ca07ab.175448"]]},{"id":"2f16b630.fe0f62","type":"watson-translator","z":"33474c22.890724","name":"from_en_to_ja","action":"translate","basemodel":"es-en","domain":"general","srclang":"en","destlang":"ja","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"ja","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":301.16668701171875,"y":313.1666259765625,"wires":[["476ecf04.aa7508"]]},{"id":"476ecf04.aa7508","type":"function","z":"33474c22.890724","name":"set_output","func":"msg.payload = msg.lang.mydetect + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":368,"wires":[["4a3fdd98.34e72c"]]},{"id":"2d65c5ad.85a262","type":"watson-translator","z":"33474c22.890724","name":"from_ja_to_en","action":"translate","basemodel":"es-en","domain":"general","srclang":"ja","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ja","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":301.16668701171875,"y":366.1666564941406,"wires":[["476ecf04.aa7508"]]},{"id":"61ca07ab.175448","type":"switch","z":"33474c22.890724","name":"by_lang","property":"lang.language","propertyType":"msg","rules":[{"t":"eq","v":"ja","vt":"str"},{"t":"eq","v":"pl","vt":"str"},{"t":"eq","v":"ru","vt":"str"},{"t":"eq","v":"tr","vt":"str"},{"t":"eq","v":"cs","vt":"str"},{"t":"eq","v":"hi","vt":"str"},{"t":"eq","v":"ar","vt":"str"},{"t":"eq","v":"es","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":125.16667175292969,"y":409.1666564941406,"wires":[["2d65c5ad.85a262"],["1c037ed5.9999b9"],["30013a52.d1113e"],["6034157a.93b27c"],["1e241b6c.66cb1d"],["e0b31b0c.bfe5e8"],["c8202d8d.66ae28"],["75424983.416308"]]},{"id":"1c037ed5.9999b9","type":"watson-translator","z":"33474c22.890724","name":"from_pl_to_en","action":"translate","basemodel":"es-en","domain":"general","srclang":"pl","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"pl","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":300,"y":400,"wires":[["476ecf04.aa7508"]]},{"id":"30013a52.d1113e","type":"watson-translator","z":"33474c22.890724","name":"from_ru_to_en","action":"translate","basemodel":"es-en","domain":"general","srclang":"ru","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ru","destlanghidden":"en","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":300,"y":440,"wires":[["476ecf04.aa7508"]]},{"id":"8584871a.ef60c8","type":"twitter in","z":"33474c22.890724","twitter":"","tags":"@igibmswtest","user":"false","name":"receive","topic":"tweets","inputs":0,"x":110,"y":120,"wires":[["10a99e6e.a779ba"]]},{"id":"1c884e2e.154122","type":"function","z":"33474c22.890724","name":"set_output_errorcase","func":"msg.payload = msg.lang.mydetect;\nreturn msg;","outputs":1,"noerr":0,"x":477.3333435058594,"y":265.3333435058594,"wires":[["4a3fdd98.34e72c"]]},{"id":"4a3fdd98.34e72c","type":"twitter out","z":"33474c22.890724","twitter":"","name":"responce","x":687.1666717529297,"y":369.1666717529297,"wires":[]},{"id":"156700d7.812b57","type":"debug","z":"33474c22.890724","name":"mydebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":763.1666564941406,"y":221.16665649414062,"wires":[]},{"id":"6034157a.93b27c","type":"watson-translator","z":"33474c22.890724","name":"from_tr_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"tr","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"tr","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":300,"y":480,"wires":[["476ecf04.aa7508"]]},{"id":"1e241b6c.66cb1d","type":"watson-translator","z":"33474c22.890724","name":"from_cs_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"cs","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"cs","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":300,"y":520,"wires":[["476ecf04.aa7508"]]},{"id":"e0b31b0c.bfe5e8","type":"watson-translator","z":"33474c22.890724","name":"from_hi_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"hi","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"hi","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":300,"y":560,"wires":[["476ecf04.aa7508"]]},{"id":"c8202d8d.66ae28","type":"watson-translator","z":"33474c22.890724","name":"from_ar_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"ar","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":false,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":300,"y":600,"wires":[["476ecf04.aa7508"]]},{"id":"75424983.416308","type":"watson-translator","z":"33474c22.890724","name":"from_es_to_en","action":"translate","basemodel":"en-tr","domain":"general","srclang":"es","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":300,"y":640,"wires":[["476ecf04.aa7508"]]}]